
.card {
    margin-bottom: 17px;
}

.card__title-devcommunity{
    height: 30px;
    margin: 18px 10px 7px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.card__anchor-text {
    font-weight: 700;
    cursor:pointer;
    
}

.card__image { 
    cursor:pointer;
    
}

.svg__dots:hover {
    background-color:rgb(243, 239, 239);
    cursor:pointer;
    border-radius: 6px;
}


.anchor-decoration {
    text-decoration-line: none;
}

.card-title {
    font-weight: bolder;   
}

.text-secondary {
    font-size: small;
}

.my-tags{
    margin: 20px 0px 100px 0px
}

.card__title-tag {
    font-weight: bold;
    font-size: 18px;
}

.svg__tag:hover {
    background-color: rgb(220, 228, 250);
    cursor:pointer;
    border-radius: 5px;
}
