.card__top-avatar-image {
  width: 27.5px;
  height: 27.5px;
  margin: 5px;
}

.card__top-list {
  font-size: 12px;
}

.item-new {
  color: #000;
  font-size: 18px;
}

.item-new:hover {
  border-radius: 5px;
  background-color: #fff;
}

.card-title {
  color: #000;
  text-decoration: none;
}

.card-title:hover {
  color: blue;
}

.card__tag-color {
  padding: 2.5px;
  color: #000;
}

.card__tag-color:hover {
  border-radius: 6px;
  background-color: #F4F6F6;
}

.card__reaction {
  border: solid 1px #fff;
  background-color: #EAEDED;
  border-radius: 50%;
  padding: 1px;
}

.card__reactions {
  padding: 2.5px;
}

.card__reactions:hover {
  border-radius: 5px;
  background-color: #F4F6F6;
  cursor: pointer;
}

.card__coments {
  padding: 2.5px;
}

.card__coments:hover {
  border-radius: 5px;
  background-color: #F4F6F6;
  cursor: pointer;
}

.card__save {
  align-items: center;
  padding: 3.5px;
}

.card__save:hover {
  border-radius: 5px;
  background-color: #F4F6F6;
  cursor: pointer;
}

.card-border {
  border-color: transparent;
}

.burguer__aside__off {
  width: 40px;
  height: 40px;
}

.icon__home__dev {
  width: 50px;
  height: 40px;
}

.title__burguer {
  font-weight: bold;
}

.icons__list__burgueroff {
  width: 30px;
}

.list-group {
  margin-top: 1rem;
  border: none;
}
.list-group .list-group-item {
  font-size: 15px;
}
.list-group .list-group-item:hover {
  text-decoration: underline;
  color: blue;
  background-color: rgba(196, 196, 246, 0.609);
}
.list-group .icons__list__burgueroff {
  height: 20px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.Listings, .Listings::before, .Listings::after {
  box-sizing: border-box;
  padding-bottom: 8px;
}

a {
  cursor: pointer;
  padding: 16px;
}

div {
  display: block;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gray-div {
  color: gray;
}

.Listings, .Listings::before, .Listings::after {
  box-sizing: border-box;
  padding-bottom: 8px;
}

a {
  cursor: pointer;
  padding: 0;
}

div {
  display: block;
}

aside {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gray-div {
  color: gray;
}

.card {
  margin-bottom: 17px;
}

.card__title-devcommunity {
  height: 30px;
  margin: 18px 10px 7px 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.card__anchor-text {
  font-weight: 700;
  cursor: pointer;
}

.card__image {
  cursor: pointer;
  padding-bottom: 5px;
}

.anchor-decoration {
  text-decoration-line: none;
}

.card-title {
  font-weight: bolder;
}

.media__link {
  filter: contrast(50%);
}

.notification-icon__button {
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  border-radius: 5px;
}

.profile-image__button {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
}

.create-post__button {
  height: 38px;
  width: 125px;
  background: none;
  border: solid 1px rgb(59, 73, 223);
  border-radius: 5px;
  color: rgb(59, 73, 223);
}

.search-form-control {
  width: 350px;
  border-radius: 5px;
}

.search-icon__button {
  width: 38px;
  height: 38px;
  border: 0px;
  border-radius: 5px;
  background: white;
}

.notification__icon {
  width: auto;
  height: 25px;
}

.search-icon-right__button {
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background: none;
}

.action-create-post__button:hover {
  cursor: pointer;
  background: rgb(59, 73, 223);
  color: white;
  text-decoration-line: underline;
}

.search-icon__img {
  width: auto;
  height: 23px;
}

.button-hover__action:hover {
  cursor: pointer;
  color: hsl(235, 72%, 55%);
}

.action-profile-picture__image:hover {
  cursor: pointer;
  border: solid 3px;
  border-color: hsla(235, 72%, 55%, 0.25);
  width: 39px;
  height: 39px;
}

.action-notification__icon:hover {
  cursor: pointer;
  fill: rgb(59, 73, 223);
}

.action-nav-icon__button:hover {
  cursor: pointer;
  background: rgba(59, 73, 223, 0.1);
  fill: rgb(59, 73, 223);
}

.aside_title:hover {
  cursor: pointer;
}

body {
  background-color: rgb(231, 227, 227);
}

.reaction-section {
  background-color: rgb(231, 227, 227);
}

.item-grey {
  background-color: rgb(231, 227, 227);
}/*# sourceMappingURL=styles.css.map */